@model UmecaApp.ModelContainer
@inherits WebViewTemplate
@{
Layout = "UmecaApp.headUm";
}

<script type="text/javascript">
    app.controller('AddressUpsertControler', function($scope, $http, $timeout, $sce){

    $scope.m = {};
    $scope.zipCode = "";
    $scope.Reference = 0;
    $scope.listState=[];
    $scope.state = {};
    $scope.listMunicipality=[];
    $scope.municipality = {};
    $scope.listLocation=[];
    $scope.location = {};

    $scope.listHomeType=[];
    $scope.HomeType = {};
    $scope.listRegisterType=[];
    $scope.RegisterType = {};
    $scope.domTitle = "";

    $timeout(function () {
    		$scope.init();
		}, 0);

		$scope.editMeeting = function(idCase){
    		window.location.replace('hybrid:Meeting/MeetingDatosPersonales?idCase='+idCase);
    	}

    	$scope.ZipCodeSearch = function(){
    	$scope.msgZipCode = undefined;
    	if($scope.listState==undefined){
    	var asx = MeetingService.findAllStates();
		    $scope.listState = JSON.parse(asx);
    	}
		    console.log("ZipCodeSearch"+$scope.zipCode);
    		if(($scope.zipCode+"").length>=5){
    		console.log(MeetingService.findAddressByCp($scope.zipCode));
    			var jsonStrngData = MeetingService.findAddressByCp($scope.zipCode);
    			if(jsonStrngData==""){
    				$scope.msgZipCode = "El código postal "+$scope.zipCode+" no existe.";
    			}
    			else{
    				var domicilioData = JSON.parse(jsonStrngData);
    				$scope.state = $scope.itemListById(domicilioData.StateId ,  $scope.listState);
    				$scope.listMunicipality = domicilioData.Municipios;
    				console.log("listMunicipality name "+ $scope.listMunicipality[1].Name+"    $scope.listMunicipality[1]--"+$scope.listMunicipality[1].Id);
    				$scope.municipality = $scope.itemListById(domicilioData.MunicipalityId , $scope.listMunicipality);
    				$scope.listLocation = domicilioData.Locaciones;
    				console.log("Locaciones name "+ $scope.listLocation[1].Name+"    id--"+$scope.listLocation[1].Id);
    			}
    		}
    	};

    	$scope.LocationInit = function(){
    	if($scope.listState==undefined){
    	var asx = MeetingService.findAllStates();
		    $scope.listState = JSON.parse(asx);
    	}
    		if($scope.m.LocationId!=undefined &&  $scope.m.LocationId!=null){
    			var jsonStrngData = MeetingService.findAddressByLocation($scope.m.LocationId);
    			if(jsonStrngData==""){
    				$scope.msgZipCode = "El código postal "+$scope.zipCode+" no existe.";
    			}
    			else{
    				var domicilioData = JSON.parse(jsonStrngData);
    				$scope.state = $scope.itemListById(domicilioData.StateId ,  $scope.listState);
    				$scope.listMunicipality = domicilioData.Municipios;
    				console.log("listMunicipality name "+ $scope.listMunicipality[1].Name+"    $scope.listMunicipality[1]--"+$scope.listMunicipality[1].Id);
    				$scope.municipality = $scope.itemListById(domicilioData.MunicipalityId , $scope.listMunicipality);
    				$scope.listLocation = domicilioData.Locaciones;
    				$scope.location = $scope.itemListById($scope.m.LocationId , $scope.listLocation);
    				console.log("Locaciones name "+ $scope.listLocation[1].Name+"    id--"+$scope.listLocation[1].Id);
    				$scope.zipCode = domicilioData.zipCode;
    			}
    		}
    	};

		$scope.init = function(){
		    try{
		    $scope.propiedades=true;
		    console.log("modelContainer"+$("#hdnJsonAddrssImptd").val());
		    var js = JSON.parse($("#hdnJsonAddrssImptd").val());
			    $scope.m = js;
		    var asx = MeetingService.findAllStates();
		    console.log("asx"+asx);
		    $scope.listState = JSON.parse(asx);
		    $("#hdnJsonScheduleHome").val($scope.m.Schedule);
		    var register = MeetingService.RegisterTypeFindAllOrderByName();
		    console.log("register"+register);
		    $scope.listRegisterType = JSON.parse(register);
		    if($scope.m.RegisterTypeId!=undefined && $scope.m.RegisterTypeId!=null && $scope.m.RegisterTypeId!=0){
		    	$scope.RegisterType = $scope.itemListById($scope.m.RegisterTypeId , $scope.listRegisterType);
		    	$scope.domTitle = $scope.RegisterType['Name'];
		    }else{
		    	$scope.RegisterType = $scope.listRegisterType[0];
		    	$scope.domTitle = $scope.listRegisterType[0].Name;
		    	$scope.m.RegisterTypeId = $scope.RegisterType['Id'];
		    }

		    var houm = MeetingService.HomeTypeFindAllOrderByName();
		    console.log("houm"+houm);
		    $scope.listHomeType = JSON.parse(houm);
		    if($scope.m.HomeTypeId!=undefined && $scope.m.HomeTypeId!=null){
		    	$scope.HomeType = $scope.itemListById($scope.m.HomeTypeId , $scope.listHomeType);
		    }else{
		    	$scope.HomeType = $scope.listHomeType[0];
		    	$scope.m.HomeTypeId = $scope.HomeType['Id'];
		    }

		    console.log("$scope.listState"+typeof $scope.listState);
		    if( js!=undefined && js!=null && js.LocationId!=undefined)
		    	$scope.LocationInit();

		    	if($scope.m.IsHomeless == null||$scope.m.IsHomeless == undefined){
			    	$scope.m.IsHomeless = false;
			    }
		    }
		    catch(err){
		    	console.log("error catched Iniciate angular function erro==>"+err.message);
		    }
		};

		$scope.itemListById = function(idObj, list){
    console.log("idObj="+idObj);
    	if(idObj!=undefined&&idObj!=null){
		    for(x=0;x<list.length;x++){
		    	if(list[x].Id==idObj){
		    		return list[x];
		    		break;
		    	}
		    }
		}
		return undefined;
	};

	$scope.save = function(idcase){
	if($("#FormAddressId").valid() == false){
         return false;
         }else{
	   		$scope.m.Schedule = $("#hdnJsonScheduleHome").val();
	   		var jsonData = JSON.stringify($scope.m);
			$scope.msgError = MeetingService.upsertImputedHome(JSON.stringify($scope.m));
			if($scope.msgError==undefined||$scope.msgError==null||$scope.msgError==""){
				$scope.editMeeting($("#hdnAddrssImptdReference").val());
			}
		}
	   };









	   //cuando se elije un estado se filtran los municipios
		$scope.MunByEdo = function(){
			$scope.listMunicipality = [];
	        $scope.municipality = {};
	        $scope.location = {};
	        $scope.listLocation = [];
			    var municipios = MeetingService.findMunicipalityByState($scope.state['Id']);
			    //alert("string de selected__>"+JSON.stringify($scope.SeceltedEstate) +"   and \n municipios _>"+municipios);
			    if(municipios!=undefined&&municipios!=null&&municipios!=""){
				    try{
				    	$scope.listMunicipality = JSON.parse(municipios);
				    	}catch(e){
			    			console.log("exception caugth at MunByEdo Message >>"+e.Message);
			    			$scope.listMunicipality = [];
						}
			    }
		};

		$scope.locationDp = function(){
			$scope.zipCode = $scope.location['ZipCode'];
		}

		//cuando se elije un municipio se filtran las localidades
		$scope.LocByMun = function(){
        	$scope.location = {};
			$scope.listLocation = [];
			    var em=0;
			    var locations = MeetingService.findLocationByMunicipality($scope.municipality['Id']);
			    //alert("string de selected__>"+JSON.stringify($scope.SeceltedEstate) +"   and \n municipios _>"+municipios);
			    if(locations!=undefined&&locations!=null&&locations!=""){
				    try{
				    	$scope.listLocation = JSON.parse(locations);
				    	}catch(e){
			    			console.log("exception caugth at LocByMun Message >>"+e.Message);
			    			$scope.listLocation = [];
						}
			    }
		};


});

</script>

<div ng-app="umecaMobile" ng-controller="AddressUpsertControler">
	<div>
	    <input id="hdnJsonAddrssImptd" type="hidden" value="@Model.JsonModel" name="jsonString" />
	    <input id="hdnAddrssImptdReference" type="hidden" value="@Model.Reference" name="wasd"/>
	</div>
    <div >

        <div style="width:95%">
        		<div class="modal-header">
                    <div class="alert alert-info ">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="element-center"><i class="glyphicon glyphicon-home "></i>&nbsp;&nbsp;Domicilio</h4>
                    </div>
                </div>


                <div class="row">
        <div class="col-xs-12 element-center">
	            &iquest;El imputado se encuentra en situaci&oacute;n de calle?
	            <br/>
	            <div class="radio">
	                <label>
	                    <input name="isHomeless" class="ace" type="radio"
	                           ng-value="true"
	                           ng-model="m.IsHomeless"
	                           ng-checked="m.IsHomeless==true">
	                    <span class="lbl">&nbsp;&nbsp;S&iacute;</span>
	                </label>
	                &nbsp;&nbsp;&nbsp;&nbsp;
	                &nbsp;&nbsp;&nbsp;&nbsp;
	                <label>
	                    <input name="isHomeless" class="ace" type="radio"
	                           ng-value="false"
	                           ng-model="m.IsHomeless"
	                           ng-checked="m.IsHomeless==false"
	                           data-val="true"
	                           data-val-required="Debe seleccionar un valor">
	                    <span class="lbl">&nbsp;&nbsp;No</span>
	                </label>
	            </div>

	        </div>
		</div>


                <form id="FormAddressId" name="FormAddressId"  >

                <!--componente adress by cp-->
                <div class="row" ng-show="m.IsHomeless==false">
				  <div class="col-xs-5">
				    <label for="zipCode">C&oacute;digo postal:</label>
				    <input type="text" id="zipCode" name="zipCode" class="input-xxlarge" ng-model="zipCode"
				    data-val="true" data-val-required="El c&oacute;digo postal es un campo requerido"
				    placeholder="Escriba su C.P. para buscar.."
				    data-val-length-max="6" data-val-length-min="1"
				    data-val-length="Debe tener al menos 1 y m&aacute;ximo 6 caracteres."
				    ng-change="ZipCodeSearch();" />
				    <br>
				    <span class="field-validation-valid" data-valmsg-for="zipCode" data-valmsg-replace="true"></span>
				  </div>
				  <div class="col-xs-7">
				    <br/>
				    <div ng-show="msgZipCode" class="alert-danger element-center">
				      {{msgZipCode}}
				    </div>
				     
				  </div>
				</div>

				<div class="row"  ng-show="m.IsHomeless==false">
				  <div class="col-xs-6">
				    <label>Estado:</label>
				    <select class="form-control element-center" ng-model="state"   ng-change="MunByEdo();"
				    ng-options="e.Name for e in listState" ></select><br/>
				  </div>
				  <div class="col-xs-6">
				    <label>Municipio:</label>
				    <select class="form-control element-center" ng-model="municipality"
				    ng-options="e.Name for e in listMunicipality" ng-init='listMunicipaliti = ""'
				    ng-change="municipalityId = municipality.id;LocByMun();"></select><br/>
				  </div>
				</div>
				<div class="row" ng-show="m.IsHomeless==false">
				  <div class="col-xs-12">
				    <label>Localidad/Colonia:</label>
				    <br/>
				    <select class="form-control" ng-model="location" 
				    ng-options="e.Name for e in listLocation" ng-init='listLocation = ""'
				    ng-change="m.LocationId = location['Id'];locationDp();"></select>
				  </div>
				</div>
				<br/>
				<div class="row">
					  	<div class="col-xs-6">
						    Calle <br/>
						    <input class="form-control" data-val="true" data-val-required="La calle es un campo requerido"
						    data-val-length-max="100" data-val-length-min="1"
						    data-val-length="Debe tener al menos 1 y m&aacute;ximo 100 caracteres."
						    type="text" value="" ng-model="m.Street" name="streetComponent" id="streetComponent">
						    <span class="field-validation-valid" data-valmsg-for="streetComponent"
						    data-valmsg-replace="true"></span>
						  </div>
						  <div class="col-xs-3">
						    No Ext <br/>
						    <input class="form-control" data-val="true"
						    data-val-length="Debe tener al menos 1 y m&aacute;ximo 10 caracteres"
						    data-val-length-max="10" data-val-length-min="1"
						    data-val-required="El n&uacute;mero exterior es un campo requerido"
						    type="text" ng-model="m.OutNum"
						    id="outNumComponent"
						    name="outNumComponent">
						    <span class="field-validation-valid" data-valmsg-for="outNumComponent"
						    data-valmsg-replace="true"></span>
						  </div>
						  <div class="col-xs-3">
						    No Int <br/>
						    <input class="with-100" data-val="true"
						    data-val-length="Debe tener al menos 1 y m&aacute;ximo 10 caracteres"
						    data-val-length-max="10" data-val-length-min="1"
						    type="text" ng-model="m.InnNum"
						    id="innNumComponent"
						    name="innNumComponent">
						    <span class="field-validation-valid" data-valmsg-for="innNumComponent"
						    data-valmsg-replace="true"></span>
						  </div>
				</div>
				<br/>
				<!--END componente adress by cp-->
<div class="row" ng-show="m.IsHomeless==false">
  <div class="col-xs-3 element-left col-xs-offset-1">
    Tel&eacute;fono:
  </div>
  <div class="col-xs-9">
    <textarea type="text" class="width-100" ng-model="m.Phone" name="phone"
    id="phone"
    data-val="true"
    data-val-length="Debe tener al menos 5 y m&aacute;ximo 200 caracteres"
    data-val-length-max="200" data-val-length-min="5"
    data-val-required="El tel&eacute;efono es un campo requerido">{{m.Phone}}</textarea>
    <span class="field-validation-valid" data-valmsg-for="phone"
    data-valmsg-replace="true"></span>
  </div>
</div>
<br/>
<div class="row" ng-show="m.IsHomeless==false">
    <div class="col-xs-2 element-left col-xs-offset-1">
        Tipo de propiedad:
    </div>
    <div class="col-xs-2">
        <select class="form-control element-center" ng-model="HomeType"
                ng-options="e.Name for e in listHomeType"
                ng-change="m.HomeTypeId = HomeType['Id'];" ></select>
    </div>
    <div class="col-xs-3 element-right">
        Tipo de domiclio:
    </div>
    <div class="col-xs-3">
    	<br />
        <select class="form-control element-center" ng-model="RegisterType"
                ng-options="e.Name for e in listRegisterType"
                ng-change="m.RegisterTypeId = RegisterType['Id']; domTitle = RegisterType['Name'];" ></select>
    </div>
</div>
<div class="row" ng-show="HomeType['Specification'] == true && m.IsHomeless==false" >
    <div class="col-xs-3 element-right">
        Especif&iacute;que tipo de propiedad:
    </div>
    <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="m.Specification" name="specification"
               id="specification"
               data-val="true"
               data-val-length="Debe tener al menos 1 y m&aacute;ximo 50 caracteres"
               data-val-length-max="50" data-val-length-min="1"
               data-val-required="La especificaci&oacute;n del tipo de propiedad es un campo requerido" >
         <span class="field-validation-valid" data-valmsg-for="specification"
               data-valmsg-replace="true"></span>
    </div>
</div>



    <!--Seccion dependiente del tipo de domicilio-->
<div class="row" ng-show="m.RegisterTypeId==3 && m.IsHomeless==false "  >
        <div class="col-xs-10 col-xs-offset-1">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>Domicilio {{domTitle}}</h4>
                </div>
                <div class="widget-body">
                    <br/>

                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-xs-5 element-left">
                                    Tiempo de residencia:
                                </div>
                                <div class="col-xs-7">
                                    <input class="form-control" data-val="true"
                                           data-val-length="Debe tener al menos 1 y m&aacute;ximo 30 caracteres"
                                           data-val-length-max="30" data-val-length-min="1"
                                           data-val-required="El tiempo de residencia es un campo requerido"
                                           id="timeLiveD"
                                           ng-model="m.TimeLive"
                                           name="timeLiveD"
                                           type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <span class="field-validation-valid" data-valmsg-for="timeLiveD"
                                          data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <br/>

                            <div class="row element-left">
                                <div class="col-xs-3">
                                    Motivo de la mudanza:
                                </div>
                                <div class="col-xs-9">
                                    <textarea id="reasonChange" name="reasonChange" ng-model="m.ReasonChange"
                                              class="form-control"
                                              data-val="true"
                                              data-val-length="Debe tener al menos 1 y m&aacute;ximo 500 caracteres"
                                              data-val-length-max="500" data-val-length-min="1"
                                              data-val-required="La raz&oacute;n de cambio es un campo requerido"></textarea>
                                    <br/>
                                    <span class="field-validation-valid" data-valmsg-for="reasonChange"
                                          data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="hr hr-8"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="row" ng-show="(m.RegisterTypeId ==1 || m.RegisterTypeId ==2) && m.IsHomeless==false" >
  <div class="col-xs-10 col-xs-offset-1">
    <div class="widget-box">
      <div class="widget-header">
        <h4>Domicilio {{domTitle}}</h4>
      </div>

      <div class="widget-body">
        <br/>

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-5">
                Tiempo de vivir en el domicilio:
              </div>
              <div class="col-xs-7">
                <input class="form-control" data-val="true"
                data-val-length="Debe tener al menos 1 y m&aacute;ximo 30 caracteres"
                data-val-length-max="30" data-val-length-min="1"
                data-val-required="El tiempo de residencia es un campo requerido"
                id="timeLiveA"
                ng-model="m.TimeLive"
                name="timeLiveA"
                type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8 col-xs-offset-4">
                <span class="field-validation-valid" data-valmsg-for="timeLiveA"
                data-valmsg-replace="true"></span>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-xs-3">
                Descripci&oacute;n de c&oacute;mo llegar al domicilio:<br/>
                <label class="info-example">(color de casa, ruta, etc.)</label>
              </div>
              <div class="col-xs-9">
                <textarea id="description" class="form-control" name="description"
                ng-model="m.Description"
                data-val="true"
                data-val-length="Debe tener al menos 1 y m&aacute;ximo 500 caracteres"
                data-val-length-max="500" data-val-length-min="1"
                data-val-required="La descripci&oacute;n es un campo requerido"></textarea>
                <br/>
                <span class="field-validation-valid" data-valmsg-for="description"
                data-valmsg-replace="true">{{m.Description}}</span>
              </div>
            </div>
            <br/>
            <div class="row" ng-show="m.RegisterTypeId==2">
              <div class="col-xs-3">
               Raz&oacute;n por la que tiene <br/>un domicilio secundario:
             </div>
             <div class="col-xs-9">
              <textarea id="reasonSecondary" class="form-control" name="reasonSecondary"
              ng-model="m.ReasonSecondary"
              data-val="true"
              data-val-length="Debe tener al menos 1 y m&aacute;ximo 500 caracteres"
              data-val-length-max="500" data-val-length-min="1"
              data-val-required="La raz&oacute;n es un campo requerido">{{m.ReasonSecondary}}</textarea>
              <br/>
              <span class="field-validation-valid" data-valmsg-for="reasonSecondary"
              data-valmsg-replace="true"></span>
            </div>
          </div>
          <br/>

          <div class="col-xs-12">
                            <div class="widget-header header-color-blue">
                                <h5 class="bigger lighter">
                                    <h6><i class="glyphicon glyphicon-calendar "></i>Disponibilidad</h6>
                                </h5>
                            </div>

                            <div class="widget-body">
            <!--schedule component-->
<div id="divScheduleComponent">

  <link rel="stylesheet" href="content/themes/umeca/bootstrap-timepicker.css" />
  <script src="scripts/umeca/date-time/bootstrap-datepicker.min.js"></script>
  <script src="scripts/umeca/date-time/moment.min.js"></script>
  <script src="scripts/app/shared/dateTimePickerCursor.js"></script>
  <script src="scripts/app/reviewer/scheduleCtrl.js"></script>

  <div class="row element-center" ng-controller="scheduleController" id="divComponentSchedule">
    <input type="hidden" ng-model="schString" name="sch" id="hdnJsonScheduleHome" ng-update-hidden ng-init="">
    <input type="hidden" ng-model="content" ng-init="content =''+'Home';" ng-update-hidden >
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-4 element-center">
         D&iacute;a(s)<br/>
         <input class="form-control" type="text" value=""
         ng-model="s.Day" ng-init='s.Day= ""'>
       </div>
       <div class="col-xs-3 element-center">
        Inicio<br/>
        <div class="input-group bootstrap-timepicker">
          <input id="timepickerStart{{content}}" type="text" class="form-control umeca-time-picker tp" ng-model="s.Start"/>
          <span class="input-group-addon">
            <i class="icon-time bigger-60"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-3 element-center">
        Fin <br/>
        <div class="input-group bootstrap-timepicker">
          <input id="timepickerEnd{{content}}" type="text" class="form-control umeca-time-picker tp" ng-model="s.End"/>
          <span class="input-group-addon">
            <i class="icon-time  bigger-40"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-2">
        Acciones<br/><div class="space-5"></div>
        <i class="icon-plus-sign orange" style="cursor:pointer;" ng-click="addSchedule()">  </i>
      </div>
    </div>
    <div class="row">
      <div class="hr hr-6"></div>
    </div>
    <div ng-show="msgError" class="alert-danger element-center">
      {{msgError}}
    </div>
    <div class="col-xs-12" ng-show="listSchedule.length==0">
      <br/>
      <br/>
      <br/>
    </div>
    <div class="col-xs-9 col-xs-offset-1" ng-show ="listSchedule.length > 0">
     <div class="row center">
       <div class="col-xs-5">
         <h5 class="smaller lighter blue">D&iacute;a</h5>
         <div class="hr hr-2"></div>
       </div>
       <div class="col-xs-2">
         <h5 class="smaller lighter blue">Inicio</h5>
         <div class="hr hr-2"></div>
       </div>
       <div class="col-xs-2">
         <h5 class="smaller lighter blue">Fin</h5>
         <div class="hr hr-2"></div>
       </div>
       <div class="col-xs-2">
         <h5 class="smaller lighter blue">Acciones</h5>
         <div class="hr hr-2"></div>
       </div>
     </div>
     <div class="row center" ng-repeat ="sch in listSchedule">
      <div class="col-xs-5">
        {{sch.Day}}
      </div>
      <div class="col-xs-2">
       {{sch.Start}}
     </div>
     <div class="col-xs-2">
      {{sch.End}}
    </div>
    <div class="col-xs-2">
      <i class="icon-trash red" style="cursor:pointer;" ng-click="deleteSchedule($index)"></i>
    </div>
  </div>
  <br/>
</div>
</div>
<br/>
</div>
</div>
            <!--schedule component-->
                    </div>
                    </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

    <!--END Seccion dependiente del tipo de domicilio-->





    <!--SECCION HOMELESS-->
    <div class="row" ng-show="m.IsHomeless==true">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>Situaci&oacute;n de calle</h4>
                </div>
                <div class="widget-body">
                    <br/>

                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-xs-5 element-left">
                                    Tiempo en situaci&oacute;n de calle:
                                </div>
                                <div class="col-xs-7">
                                    <input class="form-control" data-val="true"
                                           data-val-length="Debe tener al menos 1 y m&aacute;ximo 30 caracteres"
                                           data-val-length-max="30" data-val-length-min="1"
                                           data-val-required="El tiempo de residencia es un campo requerido"
                                           id="timeLiveD"
                                           ng-model="m.TimeLive"
                                           name="timeLiveD"
                                           type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <span class="field-validation-valid" data-valmsg-for="timeLiveD"
                                          data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
					              <div class="col-xs-3">
					                Lugar de localizaci&oacute;n:<br/>
					                <label class="info-example">(color de casa, ruta, etc.)</label>
					              </div>
					              <div class="col-xs-9">
					                <textarea id="description" class="form-control" name="description"
					                ng-model="m.Description"
					                data-val="true"
					                data-val-length="Debe tener al menos 1 y m&aacute;ximo 500 caracteres"
					                data-val-length-max="500" data-val-length-min="1"
					                data-val-required="La descripci&oacute;n es un campo requerido"></textarea>
					                <br/>
					                <span class="field-validation-valid" data-valmsg-for="description"
					                data-valmsg-replace="true">{{m.Description}}</span>
					              </div>
				            </div>
                            <br/>

                            <div class="row">
                                <div class="hr hr-8"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SECCION HOMELESS END-->
    </form>








                <div >
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-show="MsgError" class="alert alert-danger element-center">
                                {{MsgError}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="btn btn-default btn-sm" ng-click="editMeeting('@Model.Reference')">
                        Cancelar
                    </span>
                    <span class="btn btn-default btn-primary btn-sm" ng-disabled="WaitFor==true"
                          ng-click="save('@Model.Reference');">
                          Guardar
                    </span>
                </div>



        </div>
    </div>
</div>

