@inherits WebViewTemplate
<!DOCTYPE html>
<html>
	<head>
		<title>Umeca</title>
    <link rel="stylesheet" href="content/themes/umeca/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="content/themes/umeca/datepicker.css"/>
    <link rel="stylesheet" href="content/themes/umeca/font-awesome.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/jquery-ui-1.10.3.full.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace-fonts.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace-rtl.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace-skins.min.css"/>

    <link rel="stylesheet" href="content/bootstrap.css"/>
    <link rel="stylesheet" href="content/Site.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace.min.css"/>




    <script src="scripts/jquery-1.10.2.min.js"></script>
    <script src="scripts/jquery.multiple.select.js"></script>
    <script src="scripts/selectize.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>
    <script src="scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="scripts/umeca/bootstrap.min.js"></script>
    <!--<script src="scripts/common.js"></script>-->
    <script src="scripts/modernizr-2.6.2.js"></script>
    <script src="scripts/respond.min.js"></script>
    <script src="scripts/umeca/chosen.jquery.min.js"></script>


    <script src="scripts/angular/angular.min.js"></script>

    <script src="scripts/umeca/date-time/bootstrap-datepicker.min.js"></script>
    <script src="scripts/umeca/date-time/bootstrap-timepicker.min.js"></script>
    <script src="scripts/umeca/date-time/daterangepicker.min.js"></script>
    <script src="scripts/umeca/date-time/moment.min.js"></script>

    <script src="scripts/umeca/ace-elements.min.js"></script>
    <script src="scripts/umeca/ace.min.js"></script>
    <script src="scripts/umeca/typeahead-bs2.min.js"></script>


    <script src="scripts/app/shared/dateTimePickerCursor.js"></script>


    	<script src="scripts/umeca/ace-extra.js"></script>

    <script src="scripts/app/shared/mainApp.js"></script>


    	<script src="scripts/app/shared/confirmDrct.js"></script>
    	<script src="scripts/app/shared/clearErrorMsgDrct.js"></script>
    	<script src="scripts/app/shared/hiddenDrct.js"></script>

    	<link rel="stylesheet" href="bootstrap-table/bootstrap-table.css">
    <script src="bootstrap-table/bootstrap-table.js"></script>
    <script src="bootstrap-table/bootstrap-table-es-AR.min.js"></script>
    <style type="text/css">
        .pagination-info {
        float: right;!important;
        }
        div.pagination {
            width: 55%!important;
        float: left!important;
        }
        ul.pagination {
            display: inline-block!important;
            text-align: right!important;
            float: right!important;
        }
        .page-list {
        float: left!important;
        padding-left: 5px;
        }
        .pagination-detail{
            width: 45%!important;
            float: right!important;
            padding-top: 10px;
        }
    </style>

    <link rel="stylesheet" href="content/multiple-select.css"/>
    <link rel="stylesheet" href="content/selectize.bootstrap3.css"/>
    //dasdsa
	</head>
	<body>


<!--<script src="scripts/app/shared/menuCtrl.js"></script>-->
<div ng-controller="menuController">

<div class="navbar navbar-default navbar-static-top">
<style>
    .navbar > .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        max-width: 100% !important;
    }
</style>
<script type="text/javascript">
    try {
        ace.settings.check('navbar', 'fixed')
    } catch (e) {
    }
</script>

<div class="container" id="navbar-container">
<div class="navbar-header pull-left">
    <a href="@Url.Action("Index","Login")" class="navbar-brand">
        <i class="glyphicon glyphicon-cloud"></i>&nbsp;&nbsp;Inicio</a>
</div>
<!-- /.navbar-header -->

<div class="navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">
        <li class="nav-li-blue"></li>
        <!--<sec:authorize access="hasRole('ROLE_REVIEWER')">-->
            <li class="nav-li-blue"><a href="@Url.Action("Index","Meeting")"><i
                    class="icon-comments-alt"></i>&nbsp;&nbsp;Entrevista</a></li>
            <li class="nav-li-blue"><a href="@Url.Action("Index","Verification")"><i
                    class="icon-check"></i>&nbsp;&nbsp;Verificaci&oacute;n</a>
            </li>
            <li class="nav-li-blue"><a href="javascript;"><i
                    class="icon-cloud-download"></i>&nbsp;&nbsp;Descargar Informaci&oacute;n</a>
            </li>
            <li class="nav-li-blue"><a href="javascript;"><i
                    class="icon-exchange"></i>&nbsp;&nbsp;Sincronizar</a></li>
            <li class="dropdown nav-li-blue">
        <!--</sec:authorize>-->
        <!--<sec:authorize access="hasRole('ROLE_SUPERVISOR')">
            <li class="nav-li-blue"><a href="<c:url value='/supervisor/hearingFormat/index.html' />"><i
                    class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;Formato de audiencia</a>
            </li>
            <li class="nav-li-blue"><a href="<c:url value='/supervisor/scheduleHearings/index.html'/>">
                <i class="icon icon-calendar"></i>&nbsp;&nbsp;Agenda de audiencias</a>
            </li>
            <li class="nav-li-blue"><a href="<c:url value='/supervisor/framingMeeting/index.html' />"><i
                    class="glyphicon glyphicon-bullhorn"></i>&nbsp;&nbsp;Entrevista de encuadre</a></li>
            <li class="dropdown nav-li-blue">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp;Plan de supervisi&oacute;n
                    <i class="icon-caret-down"></i> </a>
                <ul class="dropdown-menu">
                    <li><a href="<c:url value='/supervisor/generateMonitoringPlan/index.html' />"><i
                            class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Generar/Modificar</a>
                    </li>
                    <li><a href="<c:url value='/supervisor/trackMonitoringPlan/index.html' />"><i
                            class="glyphicon glyphicon-thumbs-up"></i>&nbsp;&nbsp;Dar seguimiento</a></li>
                    <li><a href="<c:url value='/supervisor/manageMonitoringPlan/index.html' />"><i
                            class="glyphicon glyphicon-list"></i>&nbsp;&nbsp;Manejar casos y planes</a></li>
                </ul>
            </li>
            <li class="dropdown nav-li-blue">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="glyphicon glyphicon-folder-close"></i>
                        <%--&nbsp;&nbsp;Bit&aacute;coras--%>
                        <%--<i class="icon-caret-down"></i>--%>
                    &nbsp;&nbsp;Historiales
                    <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                        <%--<li><a href="<c:url value='/supervisor/log/index.html'/>"><i--%>
                        <%--class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Bit&aacute;coras de--%>
                        <%--supervisi&oacute;n y cumplimiento</a></li>--%>
                    <li><a href="<c:url value='/supervisor/log/index.html'/>"><i
                            class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Historial de
                        supervisi&oacute;n y cumplimiento</a></li>
                    <li><a
                            href="<c:url value='/shared/messageHistory/index.html' />"><i
                            class="icon icon-envelope"></i>&nbsp;&nbsp;Hist&oacute;rico de mensajes</a>
                    </li>
                </ul>
            </li>
            <li class="nav-li-blue"><a href="<c:url value='/supervisor/showCaseSupervision/index.html'/>">
                <i class="glyphicon glyphicon-bullhorn"></i>&nbsp;&nbsp;Consultar casos en
                supervisi&oacute;n</a>
            </li>
            <li class="nav-li-blue"><a href="<c:url value='/supervisor/caseNotProsecute/index.html'/>">
                <i class="icon icon-folder-close"></i>&nbsp;&nbsp;Casos no judicializados</a>
            </li>

        </sec:authorize>-->
    </ul>
    <!-- /.ace-nav -->
</div>
<!-- /.navbar-header -->
</div>
<!-- /.container -->
</div>

<div id="ConfirmBoxDialogSession" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-{{Type}}">
                    <h4 class="modal-title element-center" ng-bind-html="Title"></h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-left" ng-bind-html="Message"></div>
            </div>
            <div class="modal-footer">
                    <span class="btn btn-primary btn-sm" ng-disabled="WaitFor==true"
                          ng-click="continueSession()">
                          Continuar
                    </span>
            </div>
        </div>
    </div>
</div>
</div>


















		@RenderBody()
	</body>
</html>