@inherits WebViewTemplate
<!DOCTYPE html>
<html>
	<head>
		<title>Umeca</title>
		//CSS content/themes/umeca
    <link rel="stylesheet" href="content/themes/umeca/ace-fonts.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace-rtl.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace-skins.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="content/themes/umeca/datepicker.css"/>
    <link rel="stylesheet" href="content/themes/umeca/font-awesome.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/jquery-ui-1.10.3.full.min.css"/>

    //CSS Content Root directory
    <link rel="stylesheet" href="content/bootstrap.css"/>
    <link rel="stylesheet" href="content/Site.css"/>

    //Scripts from scripts root directory
    <script src="scripts/jquery-1.10.2.min.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>
    <script src="scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="scripts/umeca/bootstrap.min.js"></script>
    <script src="scripts/common.js"></script>
    <script src="scripts/modernizr-2.6.2.js"></script>
    <script src="scripts/respond.min.js"></script>


    //umeca angular scripts
    <script src="scripts/angular/angular.min.js"></script>

    //umeca date-time directory
    <script src="scripts/umeca/date-time/bootstrap-datepicker.min.js"></script>
    <script src="scripts/umeca/date-time/bootstrap-timepicker.min.js"></script>
    <script src="scripts/umeca/date-time/daterangepicker.min.js"></script>
    <script src="scripts/umeca/date-time/moment.min.js"></script>

    //umeca root scripts
    <script src="scripts/umeca/ace-elements.min.js"></script>
    <script src="scripts/umeca/ace.min.js"></script>
    <script src="scripts/umeca/typeahead-bs2.min.js"></script>


    <script src="scripts/app/shared/dateTimePickerCursor.js"></script>


    	<script src="scripts/umeca/ace-extra.min.js"></script>
    	//layout

    <script src="scripts/app/shared/mainApp.js"></script>


    	<script src="scripts/app/shared/confirmDrct.js"></script>
    	<script src="scripts/app/shared/clearErrorMsgDrct.js"></script>
    	<script src="scripts/app/shared/hiddenDrct.js"></script>

	</head>
	<body>
		@RenderBody()
	</body>
</html>