body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 560px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.element-center {
    text-align: center !important;
}

.pad-main-col {
    padding: 3px !important;
    margin: 0 !important;
}

.control-label, .form-control {
    font-size: 12px;
}

.element-left {
    text-align: left !important;
}

.element-right {
    text-align: right !important;
}

.tinyfont {
    font-size: 0.89em;
}

.channel-draw {
    border: 1px dashed gainsboro;
    padding: 0 !important;
    position: absolute;
    display: table;
}

.channel-draw-a {
    border: 1px dashed black;
    padding: 0 !important;
    position: absolute;
    display: table;
}

#screen-main {
    margin: auto;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0 0 2px 2px #009cf7;
    -ms-box-shadow: 0 0 2px 2px #009cf7;
    box-shadow: 0 0 2px 2px #009cf7;
}

.screen-wrapper {
    margin: auto;
    text-align: center;
}

.pointer-rectangle {
    background-color: rgba(0, 124, 243, 0.30);
    width: 12px;
    height: 12px;
    position: absolute;
}

.pointer-rectangle-a {
    background-color: #007cf3;
    width: 12px;
    height: 12px;
    position: absolute;
}

.move-pointer {
    position: absolute;
    width: 10000px;
    height: 10000px;
    cursor: move;
}

.move-pnt {
    position: absolute;
    width: 10000px;
    height: 10000px;
    top: -5000px;
    left: -5000px;
}

.channel-name {
    display: table-cell;
    vertical-align: middle !important;
    text-align: center;
    margin: auto;
    font-size: 0.85em;
    color: darkviolet;
}

.hr-main {
    border-top: 3px solid #009cf7;
    -webkit-box-shadow: 0 0 1px 2px white;
    -ms-box-shadow: 0 0 1px 2px white;
    box-shadow: 0 0 1px 2px white;
}

.icon-main {
    text-align: center;
    color: white !important;
    display: table-cell;
    vertical-align: middle
}

.square-main {
    width: 800px;
    height: 450px;
    margin: auto;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
    display: table;
}

.square-s1 {
    border: 6px solid black;
    height: 400px;
    background-color: #9a254f;
}

.square-s2 {
    border: 6px solid black;
    height: 200px;
    background-color: #f79146;
}

.square-s3 {
    border: 6px solid black;
    height: 200px;
    background-color: #2c4156;
}

.square-s4 {
    border: 6px solid black;
    height: 100px;
    background-color: #24961e;
}

.square-s5 {
    border: 6px solid black;
    height: 100px;
    background-color: #41afe2;
}

.square-s6 {
    border: 6px solid black;
    height: 50px;
    background-color: #dfff2b;
}

.square-s7 {
    border: 6px solid black;
    height: 50px;
    background-color: #f06a9d;
}

.error-font {
    font-size: 11px;
}

div.blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    z-index: 1000;
    overflow: auto;
}

div.blocker div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 2em;
    margin: -1em 0 0 -2.5em;
    color: #fff;
    font-weight: bold;
}

div.blocker img {
    position: relative;
    top: -55px;
    left: 15%;
}

.ui-jqgrid {
    margin: auto !important;
    text-align: center !important;
}

.ui-pg-selbox,
.ui-pg-input,
.ui-search-input {
    color: #000000;
}

.ui-jqgrid-bdiv {
    border: 1px solid rgb(225, 225, 225) !important;
}

.ui-jqgrid-sortable {
    text-align: center;
}

.error {
    color: orangered;
}

.label-pre-new {
    background-color: rgb(6, 171, 255) !important;
}

.pre-new {
    color: rgb(6, 171, 255) !important;
}

.label-pre-update {
    background-color: rgb(137, 101, 255) !important;
}

.label-black {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

.pre-update {
    color: rgb(137, 101, 255) !important;
}

.label-pre-delete {
    background-color: rgb(255, 110, 4) !important;
}

.pre-delete {
    color: rgb(255, 110, 4) !important;
}

i.link-image {
    cursor: pointer;
}

.dropdown-preview {
    margin: 0 5px;
    display: inline-block;
}

.dropdown-preview > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}

.nav-li-blue > a {
    background-color: #438eb9 !important;
}

.modal-showhigh {
    width: 1050px !important;
    padding: 0 5% !important;
}

.label-shadow {
    background-color: #5bc0de;
}

.label-shadow[href]:hover,
.label-shadow[href]:focus {
    background-color: #31b0d5;
}

.border-event-main {
    border: 3px solid #ff7600 !important;
}

.color-warning {
    color: #f0ad4e !important;
}

.color-danger {
    color: #d9534f !important;
}

.two-lines {
    min-height: 45px !important;
}

.three-lines {
    min-height: 60px !important;
}

.font-size-sm {
    font-size: 0.9em;
}

.position-relative {
    position: relative;
}

.info-example {
    font-style: italic;
    color: #7d8893;
    font-size: x-small;
}

.info-note {
    font-style: normal;
    color: #002a80;
    font-size: x-small;
}

/* when hiding the thing */
.animate.fleft {
    -webkit-animation: 0.6s fromLeft ease;
    animation: 0.6s fromLeft ease;
}

.animate.tleft {
    -webkit-animation: 0.6s toLeft ease;
    animation: 0.6s toLeft ease;
}

@-webkit-keyframes fromLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0) skewX(-10deg);
        transform: translate3d(-100%, 0, 0) skewX(-10deg);
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fromLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0) skewX(-10deg);
        -ms-transform: translate3d(-100%, 0, 0) skewX(-10deg);
        transform: translate3d(-100%, 0, 0) skewX(-10deg);
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes toLeft {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toLeft {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
}

.col-xs-3_6
.col-xs-0_4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-xs-3_6 {
    width: 29%;
}

.col-xs-0_4 {
    width: 4.3333333333333%;
}

.errorMessageClass {
    position: fixed;
    top: 30%;
    z-index: 999999;

}

.errorMessageGeneralClass {
    position: fixed;
    top: 85%;
    left: 30%;
    z-index: 999999;

}

.umeca-toast-error {
    height: auto;
    position: fixed;
    margin-left: -100px;
    z-index: 10000;
    bottom: 15px;
    right: 15px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border-radius: 2px;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.umeca-toast-success {
    height: auto;
    position: fixed;
    margin-left: -100px;
    z-index: 10000;
    bottom: 15px;
    right: 15px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border-radius: 2px;
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}